.sidebar_logo_padding {
  padding-top: 26px;
  padding-left: 23px;
}
.sidebar_logo img {
  width: 39px;
  height: 32px;
}
.sidebar_logo_text {
  margin-left: 4px;
  color: #566a7f;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
}
.sidebar_logo_btn {
  width: 30px;
  height: 30px;
  background-color: #696cff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: -32px;
  transform: translate(-50%, -50%);
}
.sidebar_logo_before::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -42px;
  transform: translate(-50%, -50%);
  background-color: #f5f5f9;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.sidebar_padding {
  padding-left: 17px;
  padding-right: 17px;
}
.menu_item_margin {
  margin-right: 14px;
}
.menu_item_text {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
}
.active {
  background-color: #e7e7ff;
}
.active .menu_item_logo,
.active .menu_item_text,
.active .menu_item_arrow {
  color: #696cff !important ;
}
.active::after {
  content: "";
  border-right: 4px solid #696cff;
  border-radius: 4px 0px 1px 4px;
  height: 100%;
  width: 1px;
  position: absolute;
  top: 0;
  right: -17px;
}
.active .menu_item_arrow {
  transform: rotate(90deg);
}
.menu_item_logo {
  width: 24px;
  height: 24px;
}
.sidebar_title h1 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #a1acb8;
  padding-left: 15px;
  margin-bottom: 18px;
}
.sidebar_item:last-child {
  margin: 0 !important;
}
.search_padding {
  padding: 23px 23px 0px;
}
.search input {
  height: 62px;
}
.search_mb {
  margin-bottom: 26px;
}
.search_icon {
  left: 24px;
}
.input_padding {
  padding-left: 52px;
}
.nation_icon img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.avatar {
  width: 38px;
  height: 38px;
}
.prize_img img {
  width: 96px;
  height: 155px;
}
.prize_gap {
  gap: 26px;
}
.prize_badge {
  display: inline-block;
  color: #03c3ec;
  background: rgba(3, 195, 236, 0.1);
}
.prize_mb_3 {
  margin-bottom: 3px;
}
/*hover*/
.active:hover {
  background-color: #e7e7ff !important;
}
.menu_item:hover {
  background-color: rgba(67, 89, 113, 0.1);
}
.search:focus-visible,
.search input:focus-visible {
  outline: none !important;
}
.icon_dots {
  right: 24px;
  cursor: pointer;
}
.prize_slider {
  max-width: 90px;
}
.prize_slider .css-eg0mwd-MuiSlider-thumb {
  display: none;
}
.prize_slider .css-14pt78w-MuiSlider-rail {
  background-color: #435971 !important;
}
.prize_slider .css-1gv0vcd-MuiSlider-track {
  background-color: #696cff !important;
}
.prize_slider {
  height: 8px;
  padding: 0px !important;
}
.icon_demo {
  /* Oval */

  position: absolute;
  width: 110px;
  height: 110px;
  left: calc(50% - 110px / 2 + 110px);
  top: calc(50% - 110px / 2 + 110px);

  border: 8px dashed #696cff;
  transform: matrix(0, -1, -1, 0, 0, 0);
}
.info .avatar {
  width: 42px;
  height: 42px;
}
.macbook {
  margin-bottom: 55px;
}
.macbook img {
  height: 235px;
  width: 100%;
}
.macbook .date {
  bottom: -30px;
  left: 25px;
}
.avatar img {
  width: 100%;
  height: 100%;
}
.avatars .avatar::before {
  content: "";
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #fff;
  display: block;
  position: absolute;
  z-index: -1;
}
.avatars .avatar {
  margin-left: -5px;
}
.avatars {
  margin-right: 50px;
}
.btn p {
  letter-spacing: 0.428571px;
}
.interactive {
  border-top: 2px solid #eceef1;
  border-radius: 4px;
}
.select .option {
  border: 1px solid #696cff;
  border-radius: 8px;
  margin-bottom: 18px;
}
.choose {
  border: 1px solid rgba(67, 89, 113, 0.2);
  width: 18px;
  height: 18px;
  border-radius: 4px;
}
.choosed {
  border: 1px solid #696cff;
  background-color: #696cff;
  width: 18px;
  height: 18px;
  border-radius: 4px;
}
/*custom*/
.none-items-center {
  align-items: flex-start !important;
}
.w-f {
  width: 100%;
}
.flex-justify-center {
  justify-content: center;
  align-items: center;
}
.flex-justify-sb {
  justify-content: space-between;
  align-items: center;
}
.flex-justify-end {
  justify-content: flex-end;
  align-items: center;
}
.flex-align-end {
  align-items: flex-end;
}
.flex-align-center {
  align-items: center;
}
.pointer {
  cursor: pointer;
}
.circle {
  border-radius: 50%;
}
.text-color-default {
  color: #696cff;
}
.bg-default-opacity {
  background-color: #e7e7ff;
}
.bg-green-1 {
  background-color: rgba(113, 221, 55, 0.2);
}
.text-color-green-1 {
  color: #71dd37;
}
.bg-default {
  background-color: #696cff;
}
.text-gray-search {
  color: #8592a3;
}
.text-gray-prize-1 {
  color: #566a7f;
}
.text-gray-prize-2 {
  color: #697a8d;
}
.text-gray-prize-3 {
  color: #a1acb8;
}
.text-gray-prize-4 {
  color: #566a7f;
}
